* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #eaf1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    width: 480px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #1565ff;
    margin-bottom: 25px;
}

.input-box {
    display: flex;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    padding: 12px;
}

.input-box input {
    flex: 1;
    font-size: 18px;
    outline: none;
    border: none;
}

.eye {
    cursor: pointer;
    font-size: 20px;
}

.strength-bars {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 30%;
    height: 10px;
    background-color: #d3d3d3;
    border-radius: 10px;
    transition: 0.3s;
}

.strength-text {
    margin: 12px 0;
    font-weight: bold;
    font-size: 20px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: white;
    background: #1565ff;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0f4cd1;
}
