body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #0e1424;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.meter {
    display: flex;
    gap: 4px;
    margin: 10px 0;
}

.meter span {
    width: 33%;
    height: 6px;
    background-color: lightgray;
    border-radius: 3px;
}

#generateBtn {
    margin-top: 15px;
    background: royalblue;
    color: white;
    border-radius: 5px;
}
